* {
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    color: white;
    text-align: center;
    
}
main {
    background-color: thistle;
}

form {
    background-color: blueviolet;
    padding: 20px;
}